  body {
    margin-left: 20%;
    margin-right: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f0f4f0;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
  }
  
  h1 {
    text-align: center;
    font-size: 300%;
  }

  h2{
    text-align: center;
  }

  h3{
    font-style: oblique;
    font-size: x-large;
  }

  .listshadow{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust spacing around header */
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: medium;
  }
  
  .menu ul {
    display: flex;
    gap: 20px; /* Space between menu items */
  }
  
  .menu li {
    display: inline;
  }
  
  .headerimage {
    width: 30%;  /* Adjust width as needed */
    height: auto;
    margin-right: 0px;
    /* Remove 'position: absolute;' if you don't want to position it manually */
  }

  .table {
    border-collapse: collapse;
    width: 80%;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  }

  thead {
    background-color: #0a8754;
    color: white;
  }

  th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
  }

  th:first-child, td:first-child {
    text-align: center;
  }